################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication1/FileContentIndex/12c569b7-3992-420e-aa1e-a487047d8cbf.vsidx
/.vs/WebApplication1/FileContentIndex/5aae9b7f-b48f-4fee-8d41-a8a928ad2d02.vsidx
/.vs/WebApplication1/FileContentIndex/70c154a1-b8c0-49ac-8a2d-776f44b009da.vsidx
/.vs/WebApplication1/FileContentIndex/962661c8-99d5-47ad-9eb6-2bba043ec567.vsidx
/.vs/WebApplication1/FileContentIndex/read.lock
