<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIMage</title>
    <script src="~/js/scripts.js"></script>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@400;800&display=swap" rel="stylesheet">
</head>
<body>
    <wrapper class="wrapper">
        <header class="header">
            <a class="magnify" asp-action="search" asp-controller="search"><img src="~/img/magnify.png" alt="magnify"></a>
            <div class="mainname">IImageAnalService</div>
            <a class="vector" asp-action="index" asp-controller="home"><img src="~/img/Vector.png " alt="Vector"></a>
        </header>
        <main class="main">
            @RenderBody()
        </main>
        <footer class="footer">
            <a asp-action="search">
                <div class="arrow"><img src="~/img/chevron-up.png " alt="Arrow"></div>
                <p class="seeall">SEE ALL</p>
            </a>
        </footer>
    </wrapper>
</body>
<script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
@* <script type="text/javascript" defer>
    $(function () {
        $("#drop").filedrop({
            fallback_id: 'btnUpload',
            fallback_dropzoneClick: true,
            url: '@Url.Action("Upload")',
            allowedfileextensions: ['.doc', '.docx', '.pdf', '.jpg', '.jpeg', '.png', '.gif'],
            paramname: 'fileData',
            maxfiles: 5,
            maxfilesize: 2,
            dragOver: function () {
                $('#drop').addClass('active');
            },
            dragLeave: function () {
                $('#drop').removeClass('active');
            },
            drop: function () {
                $('#drop').removeClass('active');
            },
            afterAll: function (e) {
                // Perform tasks after all uploads are completed.
            }
        });
    });
</script> *@
</html>