@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="result-wrapper">
    <div class="result-content">
        <img id="result-image" src="~/img/upload.png" />
        <div class="sidebar">
            <h1>This is a <span class="marked">picture</span></h1>
            <p>Other guesses:</p>
            <div class="guesses-container">
                <div class="guess-wrapper">
                    <div class="guess-container">
                        <span>thing</span>
                        <div class="guess"></div>
                    </div>
                </div>
                <div class="guess-wrapper">
                    <div class="guess-container">
                        <span>thing</span>
                        <div class="guess"></div>
                    </div>
                </div>
                <div class="guess-wrapper">
                    <div class="guess-container">
                        <span>thing</span>
                        <div class="guess"></div>
                    </div>
                </div>
                <div class="guess-wrapper">
                    <div class="guess-container">
                        <span>thing</span>
                        <div class="guess"></div>
                    </div>
                </div>
                <div class="guess-wrapper">
                    <div class="guess-container">
                        <span>thing</span>
                        <div class="guess"></div>
                    </div>
                </div>
            </div>
            <div class="copy">
                <p>https://anal-service.com/images/8Gksu</p>
                <button>
                    <img src="~/img/content-copy.png" alt="" />
                </button>
            </div>
        </div>
    </div>
</div>
