@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication1.Models.SearchModel
@using WebApplication1.Data.CosmosDb;

<script>
	function onSubmit() {
		const element = document.getElementById("waiting");
		element.classList.add("spinner");
	}
	function checkCount() {
		var count = @Model.Urls.Count();
		const mainDiv = document.getElementById("downBar");

		for (var i = 0; i < Math.floor(count / 30); i++) {
			const div = document.createElement("div");
			div.classList.add("border", "border-black");

			const p = document.createTextNode(i);
			div.appendChild(p);

			mainDiv.appendChild(div);
		}
	}

	checkCount();
</script>

<style>
	main {
		display: block;
	}


</style>


<div class="text-center">
	<h1 class="display-4">IImages</h1>

	<form method="get">
		<div class="form-group">
			<label id="icon" for="name"><i class="fas fa-envelope"></i></label>
			<input type="text" name="inputedRes" id="inputedRes" placeholder="Search" />
			<button style="margin-left: 30px" type="submit" class="btn btn-primary invisible" onclick="onSubmit()">Search</button>
		</div>
		
	</form>



	<div class="" id="waiting">
	</div>

	<div id="columns">
		@foreach (string url in Model.Urls)
		{
			<figure>
				<img src="@url">
			</figure>
		}
	</div>



	<div id="downBar"
		 style="position: absolute;
            bottom: 0px;">

@*		<div class="border border-black">
			 <p>1</p>
		 </div>
		<div class="border border-black">
			<p>2</p>
		</div>
		<div class="border border-black">
			<p>3</p>
		</div>*@
	</div>
</div>