@{
    ViewData["Title"] = "Home Page";
}

@model WebApplication1.Models.ImageModelView

<div id="modal" onclick="hideModal()">
    <form>
        <input type="file" />
    </form>
</div>
<div id="backdrop" onclick="showModal()"></div>


<img src="~/img/Group 1.png" alt="Group" id="upload-img">