@{
    ViewData["Title"] = "Home Page";
}

@model WebApplication1.Models.ImageModelView

<form enctype="multipart/form-data" method="post" asp-action="Upload">
    <input type="file" name="image">
    <button type="submit">Submit</button>
</form>

<div id="modal" onclick="hideModal()">

</div>

<div id="backdrop" onclick="showModal()"></div>


<img src="~/img/Group 1.png" alt="Group" id="upload-img">